version: '3.8'
volumes:
  redis:
services:
  redis:
    image: redis:alpine
    command: redis-server --requirepass test --appendonly yes --maxmemory-policy noeviction
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
    ports:
      - '6379:6379'
    volumes:
      - redis:/data
