version: 2
updates:
  - package-ecosystem: npm
    target-branch: dev
    directory: /
    open-pull-requests-limit: 10
    schedule:
      interval: daily
    commit-message:
      prefix: chore
      include: scope
  - package-ecosystem: github-actions
    target-branch: dev
    directory: /
    schedule:
      interval: weekly
    commit-message:
      prefix: chore
      include: scope
